{erl_opts, [warnings_as_errors, debug_info,
        {platform_define, "^(19|2[0-9])", 'crypto_use_hash'},
        {platform_define, "^(19|2[0-9])", 'use_new_time_api'},
        {platform_define, "^(19|2[0-9])", 'use_rand'}]}.

{deps, [{pb2utils, ".*", {git, "git@bitbucket.org:republicwireless/pb2utils.git", {branch, "develop"}}}]}.

{xref_checks, [undefined_function_calls]}.
