{erl_opts, [debug_info,
            warnings_as_errors,
            {platform_define, "^R1[4,5]", 'crypto_use_sha_mac'},
            {platform_define, "^R16B", 'crypto_use_hash'},
            {platform_define, "^1[7,8,9]", 'crypto_use_hash'},
            {platform_define, "^1[8,9]", 'use_new_time_api'},
            {platform_define, "^19", 'use_rand'}
]}.

{xref_checks, [undefined_function_calls]}.
